1) Write an SQL query to show only odd rows from a table.

:- select * from worker where MOD(worker_id, 2) <> 0;

2) Write an SQL query to clone a new table from another table.

:-  i) General query to clone a table with data is,
    - select * into workerclone from worker;
    
    ii) General way to clone without information is,
    - select * into workerclone from worker where 1 = 0;
    
    iii) An alternate way to clone a table(for MySQL)is,
    - create table workerclone like worker